<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>API Project: Request Header Parser Microservice</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="container">
			<h2>API Project: Request Header Parser Microservice</h2>
			<div class="description">
				This api gives you the IP address, preferred languages (from
				header Accept-Language) and system infos (from header
				User-Agent) for the current user.

				<h3>Example Usage</h3>
				<p><a href="/api/whoami">[project url]/api/whoami</a></p>

				<h3>Example Output</h3>
				<code>
					{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
					"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0)
					Gecko/20100101 Firefox/50.0"}
				</code>
			</div>
			<p>&nbsp;</p>
			<p id="author">by Daniel Achebodt</p>
		</div>
	</body>
</html>
